<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6741381817-dek6hq8d94kp8fpljnd8trtmfuniigj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6741381817-dek6hq8d94kp8fpljnd8trtmfuniigj5</string>
	<key>API_KEY</key>
	<string>AIzaSyAJAQLOPFJO7FsoV9t8yP2APRVrMaY5CVM</string>
	<key>GCM_SENDER_ID</key>
	<string>6741381817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matajersaudi.app</string>
	<key>PROJECT_ID</key>
	<string>mataajer-saudi</string>
	<key>STORAGE_BUCKET</key>
	<string>mataajer-saudi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:6741381817:ios:aa9f106ee82e7d02a9c168</string>
</dict>
</plist>
